body {
    margin: auto;
}

.main_container {
    display: flex;
    flex-direction: column;
}

.container {
    display: flex;
    justify-content: center;
    margin: auto;
}

.box {
    background-color: white;
    border: black 1px solid;
    min-width: 30px;
    min-height: 30px;
}