body {
    text-align: center;
}

#mainContainer {
    display: flex;
    flex-direction: column;
    background-color: lightgray;
    margin: auto;
    width: 500px;
    height: 700px;
    border-radius: 5px;
}

#outputContainer {
    display: flex;
    flex: 1;
    background-color: white;
    border-radius: 10px;
    margin: 15px;
}

#output {
    flex: 1;
    text-align: right;
    font-size: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 15px;
}

#inputContainer {
    display: flex;
    flex: 4;
    margin: 15px;
}

#keypad {
    display: flex;
    flex-direction: column;
    flex: 3;
}

.numRow {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content:space-evenly;
}

.number {
    flex: 1;
    border-radius: 25%;
    font-size: 30px;
    max-width: 100px;
    max-height: 100px;
    min-height: 100px;
}

#decimal {
    flex: 1;
}

#zero {
    flex: 2;
    border-radius: 15px;
    max-width: 205px;
    max-height: 100px;
}

#operatorColumn {
    display: flex;
    flex-direction: column;
    flex: 1;
    margin-left: 25px;
    align-items: stretch;
    justify-content: space-around;
}

.operator {
    flex: 1;
    font-size: 30px;
    font-weight: bold;
    max-width: 100px;
    max-height: 100px;
}

#menu {
    display: flex;
    margin: 15px;
    justify-content: space-around;
}

#clear {
    flex: 1;
    background-color: red;
    font-size: 30px;
    font-weight: bolder;
    color: white;
    min-height: 50px;
    max-width: 100px;
}

#calculate {
    flex: 3;
    background-color: green;
    font-size: 30px;
    font-weight: bolder;
    color: white;
    min-height: 50px;
    max-width: 325px;
}